/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-mag-2016, 11.57.47
    Author     : cadav
*/

div.graphic {
    
    height: 700px;
    width:700px ;
    margin-left: 20%;
    margin-right: auto;
    margin-top:3%;

    
},
div canvas{
    height: 700px;
    width: 700px ;
}
table{
    width: 640px;
    
},
table.tabe {
		font-family: verdana, arial, sans-serif;
		font-size: 11px;
		color: #333333;
		border-width: 1px;
		border-color: #3A3A3A;
		border-collapse: collapse;
              
                
	}
 
	.tabe th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #517994;
		background-color: #36A2EB;
	}
 
	.tabe tr:hover td {
		background-color: #DFEBF1;
	}
 
	.tabe td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #517994;
		background-color: #ffffff;
	}



.tabe{
    float:right;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

   
    border-style: inset;
    border-width: 1px;
    
    width: 100%; 
    margin-left: 5%;
}