/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-mag-2016, 22.53.12
    Author     : Raffaele Costantino
*/

#resulthead th{
    font-weight: bold;
    word-wrap: break-word;
    color: #0066cc;
}
#resulthead2 th{
    font-weight: bold;
    word-wrap: break-word;
    color: #0066cc;
}
#resulthead th span:first-child{
    font-size: 19px;
    color: #0066cc;
    text-transform: capitalize;
}
#resulthead th span{
    font-size: 14px;
    color: #707277;
}
.students{
    word-wrap: break-word;
    font-weight: bold;
    min-width: 170px;
    font-size: 14px;
}
.celle{
    text-align: center;
    min-width: 175px;
}
.form-group{
    float:left;
}
#titleInfo{
    font-weight: bold;
    font-size: 20px; 
    color: black;
}
#descriptionInfo{
    font-size: 16px;
    color: black;
}
