/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-mag-2016, 22.53.12
    Author     : Raffaele Costantino
*/

#resulthead th, #resulthead2 th, #resulthead3 th{
    font-weight: bold;
    font-size: 19px;
    word-wrap: break-word;
    color: #0066cc;
}

.stLesson{
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
}

.stLesson_hover:hover{
    text-decoration: underline;
    color: #0066cc;
    text-shadow: 4px 3px 7px #86bbe9;
}

#thPresence th{
    font-weight: bold;
    font-size: 27px;
    text-transform: capitalize;
    color: #0066cc;
    padding-bottom: 25px;
}

.students{
    word-wrap: break-word;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
    text-indent: 10px;
}
